--- 
layout: default 
---

<section class="column-contain full-viewport">
  <a class="anchor" id="GettingStarted"></a>
  <div class="row full-section">
    <div id="navbar-gettingstarted" class="col-md-3 full-section-left">
      <h2 class="section-header">Getting Started</h2>
      <ul class="nav nav-pills nav-stacked pre-scrollable-left">
        {% for post in site.posts %}
        {% if post.category == "Getting Started" %}
        <li role="presentation">
          {% if post.tags == empty %}
          <a href="#{{ post.link }}" name="anchor">{{ post.title }}</a>
          {% else %}
          <a href="#{{ post.link }}" data-toggle="collapse" data-target=""><span class="glyphicon glyphicon-chevron-right"></span> {{ post.title }}</a>
          <div class="nested-nav">
            <ul id="{{ post.link }}" class="nav nav-pills nav-stacked collapse">
            {% for tag in post.tags %}
              <li role="presentation">
                <a href="#{{ tag.link }}" name="anchor">{{ tag.name }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %} 
      </ul>
    </div>
    <div class="col-md-9 pre-scrollable-right full-section-right" data-spy="scroll" data-target="#navbar-gettingstarted">
      {% for post in site.posts %}
      {% if post.category == "Getting Started" %}
      <div name="link" class="scroll-link">
        <div id="{{ post.link }}" name="link-content">
          {{ post.content }}
        </div>
        <br>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="column-contain full-viewport">
  <a class="anchor" id="DeveloperGuide"></a>
  <div class="row full-section">
    <div id="navbar-developerguide" class="col-md-3 full-section-left">
      <h2 class="section-header">Developer Guide</h2>
      <ul class="nav nav-pills nav-stacked pre-scrollable-left">
        {% for post in site.posts %}
        {% if post.category == "Developer Guide" %}
        <li role="presentation">
          {% if post.tags == empty %}
          <a href="#{{ post.link }}" name="anchor">{{ post.title }}</a>
          {% else %}
          <a href="#{{ post.link }}" data-toggle="collapse" data-target=""><span class="glyphicon glyphicon-chevron-right"></span> {{ post.title }}</a>
          <div class="nested-nav">
            <ul id="{{ post.link }}" class="nav nav-pills nav-stacked collapse">
            {% for tag in post.tags %}
              <li role="presentation">
                <a href="#{{ tag.link }}" name="anchor">{{ tag.name }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %} 
      </ul>
    </div>
    <div class="col-md-9 pre-scrollable-right full-section-right" data-spy="scroll" data-target="#navbar-developerguide">
      {% for post in site.posts %}
      {% if post.category == "Developer Guide" %}
      <div name="link" class="scroll-link">
        <div id="{{ post.link }}" name="link-content">
          {{ post.content }}
        </div>
        <br>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>